@import "../../index.scss";

.single-job {
  min-width: 0;
  margin-bottom: 1rem;
  border: 1px solid $gray;
  border-radius: 0.8rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.04);

  transition: all 0.2s ease-in-out;

  .company-image {
    max-width: 120px;
    max-height: auto;
    padding: 20px 0 0 20px;
    opacity: 0.8;
    transition: 0.3s;

    img {
      width: 100%;
      border-radius: 0.6rem;
    }
  }

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #c9d0da;
  }
  &:hover .company-image {
    opacity: 1;
  }

  .card-body {
    padding: 20px;

    .job-title h5 {
      font-weight: 700;
      display: block;
      width: 100%;
      color: #424242;
    }

    .job-description {
      padding-top: 1rem;

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        color: $gray-5;
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

    }
  }

  .job-tags {
    display: inline-flex;
    flex-wrap: wrap;

    .tag {
      font-weight: 700;
      margin-right: 6px;
      margin-bottom: 6px;
      padding: 4px 10px;
      font-size: 0.6rem;
      background-color: #d3dce655;
      border-radius: 0.3rem;
      //color: $primary;
      color: #8492a6;
    }
  }
  .card-submit {
    padding: 20px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
}
