/* colors */
$primary: #1275d1;
$warning: #FB9300;

$bg-light: #f9fafb;
$dark-gray: #3c4858;
$gray: #e5eaf0;
$gray-5: #737f8b;
$gray-6: #546e7a;
$headings-color: $dark-gray;
$input-color: #8492a6;
$input-border-color: #e0e6ed;
$input-placeholder-color: #c0ccda;

/* inputs */
$input-padding-y: 0.375rem;
$input-padding-x: 0.75rem;

/* icons */

$large-icon: 4rem;

/* buttons */
//$btn-padding-y :0.75rem;
$border-radius: 0.5rem;

/* title */

$title-font-weight: 600;
