
* {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .06em;
  line-height: 1.7;
  font-family: "Nunito", sans-serif !important;
  text-align: left;
}


/* colors */
$primary: #4169e1;
$dark-gray: #3c4858;
$headings-color: $dark-gray;
$input-color: #8492a6;
$input-border-color: #e0e6ed;
$input-placeholder-color: #c0ccda;

/* inputs */
$input-padding-y: 0.375rem;
$input-padding-x: 0.75rem;

/* icons */

$large-icon : 4rem;
